<% if flash[:my_error] %>
  <% flash[:my_error].each do |error| %>
    <p><%= error %></p>
  <%end%>
<%end%>

<%= form_for @patient, :html => {:class => "form-horizontal center"} do |f| %>
      <div class="form-group">
        <%= f.label :name, "name:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password, "password:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :birthday, "birthday:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.date_select :birthday, :start_year => 1900, class: "form-control", :order => [:day, :month, :year] %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :address, "address:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :address, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :city, "city:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :city, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :state, "state:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :state, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :zipcode, "zip-code:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :zipcode, class: "form-control" %>
        </div>
      </div>

      <%= f.submit "Submit", class: "btn btn-default btn-primary" %>  
<% end %>
