<h3><%= @patient.name %></h3>
<br>
  <h5> My upcoming Appointments: </h5>


<% @patient.appointments.each do |appointment| %>
  <p>Doctor: <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></p><p>Reason: "<%= link_to appointment.condition, appointment_path(appointment) %>"</p>
  <p>date: <%= appointment.date %> at: <%= appointment.time.strftime("%H:%M") %> </p><br> 
<%end%>

<%#  if @appointment.time 
  <p>time: = appointment.time.strftime("%H:%M") </p>
end -
%>
<br>

<br>
<p>Wrong information? Edit your information<%= link_to "here", edit_patient_path(@patient) %>.</p>



