<h3><%= @patient.name %></h3>
<br>
  <h5> My upcoming Appointments: </h5>


<% @patient.appointments.each do |appointment| %>
  <p><h6>Reasoning: "<%= link_to appointment.condition, appointment_path(appointment) %>"</h6>Doctor: <%= appointment.doctor.name %><br></p>
  <p>time: <%= appointment.time.strftime("%H:%M") %> </p>
  <p>date: <%= appointment.date %></p> 
<%end%>
<br>

<br>
<p>Wrong information? Edit your information<%= link_to "here", edit_patient_path(@patient) %>.</p>



