<h3><%= @patient.name %></h3>
<br>
  <h5> My upcoming Appointments: </h5>


<% @patient.appointments.each do |appointment| %>
  <p><b>Doctor:</b> <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></p><p><b>Reason:</b>"<%= link_to appointment.condition, appointment_path(appointment) %>"</p>
  <p><b>date:</b> <%= appointment.date %> <b>at:</b> <%= appointment.time.strftime("%H:%M") %> </p><br> 
<%end%>

<%#  if @appointment.time 
  <p>time: = appointment.time.strftime("%H:%M") </p>
end -
%>
<br>

<br>
<p>Wrong information? Edit your information <%= link_to "here", edit_patient_path(@patient) %>.</p>



