<h3><%= @patient.name %></h3>

<% if @patient.doctors %>
  <p> The doctor: <%  @patient.doctors %>!</p>
<% else %>
  <p>I have no doctor!</p>
<%end%>

  <h5> My upcoming Appointments: </h5>

<% @patient.appointments.each do |appointment| %>
  <p><%= appointment.condition %>- time: <%= appointment.time %></p>
<%end%>

<% @patient.appointments.each do |appointment| %>
  <p><%= appointment.condition %>- date: <%= appointment.date %></p>
<%end%>


<p>Wrong information? Edit your information<%= link_to "here", edit_patient_path(@patient) %>.</p>