<br>
<h3><%= @patient.name %></h3>
   <h5>
    <%= @patient.address%>
    <br>
    <%= @patient.city %>, <%= @patient.state %> <%= @patient.zipcode %>
   </h5>
   <br>
   <b>Birthdate:</b> <%= @patient.birthday.strftime("%B %-d, %Y") %><br>
   <b>Age:</b> <%= @patient.calc_age %>
<br>
<br>
<br>
  <h5> My upcoming Appointments: </h5>
<br>

<% @patient.appointments.each do |appointment| %>
  <p><b>Doctor:</b> <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></p><p><b>Reason:</b>"<%= link_to appointment.condition, appointment_path(appointment) %>"</p>
  <p><b>date:</b> <%= appointment.date %> <b>at:</b> <%= appointment.time.strftime("%H:%M") %> </p><br> 
<%end%>

<%#  if @appointment.time 
  <p>time: = appointment.time.strftime("%H:%M") </p>
end -
%>
<br>

<br>
<p>Changed your information? Update <%= link_to "here", edit_patient_path(@patient) %>.</p>



