<% if flash[:my_error] %>
  <% flash[:my_error].each do |error| %>
    <p><%= error %></p>
  <%end%>
<%end%>

<%= form_for @patient, :html => {:class => "form-horizontal center"} do |f| %>
      <div class="form-group">
        <%= f.label :name, "name:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :age, "age:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.number_field :age, min: 0, max: 150, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :specialty, "specialty:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :specialty, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :address, "address:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :address, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :city, "city:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :city, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :state, "state:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :state, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :zipcode, "zip-code:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :zipcode, class: "form-control" %>
        </div>
      </div>

      <%= f.submit "Submit", class: "btn btn-default btn-primary" %>  
<% end %>