<% if flash[:my_error] %>
  <% flash[:my_error].each do |error| %>
    <p><%= error %></p>
  <%end%>
<%end%>

<%= form_for @patient do |f| %>
        <%= f.label :name, "name:"%>
        <%= f.text_field :name %>
        
        <%= f.label :birthday, "birthday:" %>
        <%= f.date_select :birthday, :start_year => 1950 %>

        <%= f.label :specialty, "specialty:" %>
        <%= f.text_field :specialty %>
        
      
        <%= f.label :address, "address:" %>
        <%= f.text_field :address %>
        
      
        <%= f.label :city, "city:" %>
        <%= f.text_field :city %>
        
      
        <%= f.label :state, "state:" %>
        <%= f.text_field :state %>
        
      
        <%= f.label :zipcode, "zip-code:" %>
        <%= f.text_field :zipcode %>

      <%= f.submit "Submit"%>  
<% end %>