<br>
<h3>Dr. <%= @doctor.name %></h3>
<h4><%= @doctor.specialty %></h4>
<br>
<h6>
<%= image_tag "#{rand(1..5)}.jpg"%>
<br>
<br>
   <%= @doctor.address%><br>
   <%= @doctor.city %>, <%= @doctor.state %><%= @doctor.zipcode %>
</h6>

<br>
<p>This doctor has <b><%= @doctor.patients.count %></b> patients
<%#<p> Here are a list of my patients: </p>
<%# @doctor.patients.uniq.each do |p| %>
<%# = link_to p.name, patient_path(p)%>
<%#end%>
<br>
<% if @current_user %>
   <p>Click <%= link_to 'here', new_appointment_path(:doctor_id => @doctor.id) %> to book an appointment.</p>
<%end%>
<br>
<%# <h6>Edit your doctor's profile <%= link_to "here", edit_doctor_path(@doctor) %>




