<br>
<h3>Upcoming Appointment: </h3>
<h4>Dr <%= @appointment.doctor.name %><h4>
<%= image_tag '6.jpg' %>

<h5>Patient Condition: </h5>
<%= @appointment.condition %>
<br>
<br>
<h5>Additional information:</h5>
<%= @appointment.additional_info %>
<br>
<br>
<h5>Apointment Date & Time: </h5>
<%= @appointment.date.strftime("%B %-d, %Y") %>, <%= @appointment.time.strftime("%l:%M %P") %></h3>


<br>
<br>
<br>
<p>Click <%= link_to 'here', edit_appointment_path(@appointment) %> to edit to your appointment.</p>


