<h4>This appointment is with the doctor: <p><br><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h4></p><br>
<h5>This is your appointment for: <p><br><%= @appointment.condition %></h5></p><br>

<h4>Additional information:</h4><br>
<h5>"<%= @appointment.additional_info %>"</h5><br>

<h4>The date and time for the appointment is set to:</h4> <br><h5><%= @appointment.date %> - <%= @appointment.time.strftime("%H:%M") %></h5>

<br>
<p>Want to make changes to this appointment? Click <%= link_to 'here', edit_appointment_path(@appointment) %></p>


