<!DOCTYPE html>
<html>
  <head>
    <title>MedicalWeb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Medical Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>

          <a class="nav-link" href="/appointments/new">Create an Appointment</a>

          
        </div>
      </div>
      <div class="navbar-nav">
        <div class="nav-item">
          <a class="nav-link" href="/patients/login">Login</a>
        </div>
      </div>
      <div class="navbar-nav">
        <div class="nav-item">
          <a class="nav-link" href="/patients/new">Sign up</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="column">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
